body{
    font-family: "Cabin";
    font-style: normal;

}
.container {
width: 1296px;
margin: 0 auto;

}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; 

}

.card {
 margin-top: 32px; 
border: 1px solid #8E8E8E;
background-color: #F8FDFE;
padding: 32px;
}

.card-fill {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.card-button {
    border: none;
    color: #F8FDFE;
    width: 242px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.card-image {
width: 242px;
height: 280px;
object-fit: contain;
object-position: center;
}

.titles {
display: flex;
flex-direction: column;
justify-content: center;
}

.titles h3 {
width: 242px;
height: 31px;
text-decoration: none;
color: var(--black, #1F1F1F);
font-size: 20px;
font-weight: 700;
line-height: 28px; /* 140% */
border-bottom: 1px solid #A8A8A8; 

}

.titles h4 {
    color: var(--gray, #8E8E8E);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    /* border-top: 1 px solid #A8A8A8; */
}

.two-prices {
display: flex;
align-items: center;
justify-content: center;
gap:24px;
}

.red-price {
text-decoration: none;
color: #E90000;
font-size: 24px;
font-weight: 500;
line-height: 32px; /* 133.333% */
}

.grey-price {
    text-decoration: line-through;
    color: var(--gray, #8E8E8E);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-decoration-line: strikethrough;
}

.violet-button{
font-family: "Cabin";
background-color: var(--eggplant, #4C394E);
}

.violet-button:hover {
    background: #744978;
}

.green-button{
    font-family: "Cabin";
    background-color: var(--eggplant, #4D762D);
    }

.green-button:hover {
        background: #6DB236;
    }

.fixed-btn {
 position: fixed;
 top: 0;
 right: 0;
 width: 64px;
 }

/* .card-fill{
     position: relative;  
} */

a.card {
    position: relative;
    /* z-index: 2; */
    z-index: 2; 
}

.blue-bun {
    position: absolute;
    /* height: 26px; */
     /* z-index: 2;  */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 36px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #4200FF;
    top: 32px;
    left: 32px;

 }


 .violet-bun {
    position: absolute;
    /* height: 26px; */
     /* z-index: 2;  */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 47px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #AF39E7;
    top: 32px;
    left: 32px;

 }

 .pink-bun{
    position: absolute;
    /* height: 26px; */
     /* z-index: 2;  */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 70px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #EA33C0;
    top: 32px;
    left: 32px;
 }
 .pink-bun-near-blue {
    position: absolute;
    /* height: 26px; */
     /* z-index: 2;  */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 70px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #EA33C0;
    top: 32px;
    left: 88px;

 }

 .pink-bun-near-violet {
    position: absolute;
    /* height: 26px; */
     /* z-index: 2;  */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 70px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #EA33C0;
    top: 32px;
    left: 99px;

 }

