.header {
width: 100%;
height: 40px;
background-color: #10BBD5;

}

.logo {
display: flex;
gap: 4px;
align-items:center ;
text-decoration: none;
color: #F8FDFE;
font-size: 24px;
font-weight: 700;
line-height: normal;
}

.cart{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
   
}

.cart-btn {
position: relative;
/* position:relative; */
text-align: center;
color: #000;
text-decoration: none;
width: 40px;
height: 40px;
background-image:url(../images/cart_icon.svg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

border: none;
background-color: #10BBD5;
cursor: pointer;

}

.zero {
    position: absolute;
    left: 23px;
    top: 17px ;
    transform: translate( -50%, -50% );
    font-family: Cabin;
    font-size: 12px;
  font-weight: 400;
  line-height: 10px; /* 83.333% */
  
} 
.cart p {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.header-contant {
width: auto;
display:flex;
align-items: center;
justify-content: space-between;
 
  top: 0;
  left: 0;
  width: 100%;
}

.header-bottom {
    width: 100%;
    height: 24px;
    background-color: #FFF;
}

.header-bottom-menu h2 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.header-right-menu {
display:flex;
align-items: center;
justify-items: center;
gap: 40px;
}

.header-bottom-menu {
width: auto;
display:flex;
align-items: center;
justify-content: space-between;
}

#placeholder {
    height: 64px; 
  }


/* Catalog */


.catalog {
background-color: var(--beige, #EEEEEF);
width: 100%;
padding-top: 96px;
/* margin: 64px; */

}

.catalog h1 {
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 600;
 line-height: 40px; /* 125% */
 border-bottom: 1px solid #A8A8A8;
padding-bottom: 23px;
}

.catalog-cards {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
row-gap: 32px;
column-gap: 24px;
padding-bottom: 120px;
}

.too-much-text {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
width: 100%;
height: 88px;
background-color: #4C394E;
}

.footer-content {
display: flex;
align-items: center;
justify-content: space-between;
justify-items: center;
padding-top: 32px;
padding-bottom: 32px;

}

.copy {
  color: var(--white, #F8FDFE);
  font-size: 16px;
  font-weight: 400;
 line-height: 24px; /* 150% */
}

.rights {
  color: var(--white, #F8FDFE);
  font-size: 16px;
  font-weight: 400;
 line-height: 24px; /* 150% */  
}

.chat-btn {
border: none;
background-color: #ffffff00;
margin-top: 642px;
margin-right: 28px;
width: 64px;
height: 64px;
background-image: url(../images/chat-icon.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}

.chat-btn:hover {
  transform: rotate(12.05deg);
}

